<canvas id = 'canvas'></canvas>

<script>
	var c = document.getElementById('canvas');
	var ctx = c.getContext('2d');
	var img = document.createElement('img');
	img.src = 'wood.jpg';
//	setTimeout(draw, 1000);
	ctx.font = '500 60px georgia';
	ctx.textAlign = 'center';
	ctx.fillStyle = 'rgb(30, 30, 30)';
	img.onload = function(){
		ctx.drawImage(img, 0, 0);
		ctx.fillText("CLUBS", canvas.width / 2, canvas.height / 2);
	};
</script>